# Ignore .env
.env

# Ignore Python cache
__pycache__/
*.pyc

# If you're using Jupyter Notebooks
.ipynb_checkpoints/

# Ignore saved models
models/*
archive_scripts/*

data/arxiv_papers/2023_papers/*
data/arxiv_papers/2024_papers/*

# ignore local_dump files
local_dump*
data/arxiv_papers/2023_full_text.csv
data/arxiv_papers/2024_full_text.csv
data/arxiv_papers/all_papers.jsonl

# Ignore logs
logs/*