# Ignore .env
.env

# Ignore Python cache
__pycache__/
*.pyc

# If you're using Jupyter Notebooks
.ipynb_checkpoints/

# Ignore saved models
models/*
archive_scripts/*

data/arxiv_papers/2023_papers/*
data/arxiv_papers/2024_papers/*

# ignore local_dump files
local_dump*
data/arxiv_papers/2023_full_text.csv
data/arxiv_papers/2024_full_text.csv
data/arxiv_papers/all_papers.jsonl

# jsonl files
all_papers_2015_to_2016.jsonl
all_papers_2017_to_2018.jsonl
all_papers_2019_to_2020.jsonl
all_papers_2021_to_2022.jsonl

papers_*_top5_by_day.jsonl
/2021_papers
/archive_scripts